.env
*.csv
seongryong_lab

build/
dist/
*.spec

client/
**/node_modules/

platform.sh
platform.sh.pub
# Local Netlify folder
.netlify

Python_Angela_Docs/
**/refillapp2/
**/aws-code-using-Moto-and-Pytest2/

**/__pycache__/
**/.idea/