h1 {
    color: red;
    font-size: 100px;
}



img:hover {
    background-color: red;
}


.bacon {
    background-color: green;
}

.chicken {
    background-color: orange;
}

.circular {
    border-radius: 100%;
}

#heading1 {
    color: blue;
    font-size: 200px;
}